 
        .navbar{
            background-color: purple;
            
        }
       
        .site-footer{
            text-align: center;
            background-color: black;
            padding-top: 50px;
            padding-bottom: 50px;
            color: white;
        }
        a{
            color: rgb(255, 255, 255);
        }
        .logo{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .contact{
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 20px;
        }
        .services{
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 20px;
        }
        .package{
            padding-top: 80px;
            padding-bottom: 80px;
            /* padding-left: 10px; */
        }
        div{
            display: block;
        }
        